[submodule "frontend"]
	path = frontend
	url = https://github.com/dw-innovation/kid2-spot-frontend
[submodule "apis/osmquery"]
	path = apis/osmquery
	url = https://github.com/dw-innovation/kid2-spot-osm-query-api
[submodule "apis/osmtagsearch"]
	path = apis/osmtagsearch
	url = https://github.com/dw-innovation/kid2-spot-osm-tag-search-api
[submodule "apis/kid2-spot-central-nlp-api"]
	path = apis/kid2-spot-central-nlp-api
	url = https://github.com/dw-innovation/kid2-spot-central-nlp-api.git
[submodule "data_and_training/unsloth-training"]
	path = data_and_training/unsloth-training
	url = https://github.com/dw-innovation/unsloth-training
[submodule "data_and_training/datageneration"]
	path = data_and_training/datageneration
	url = https://github.com/dw-innovation/kid2-spot-datageneration
